@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-track {
    display: flex;
    touch-action: pan-y;
    /* Allow vertical touch scrolling */
}

.carousel-item {
    /* flex: 0 0 calc(100% / 3.66); */
    /* flex: 0 0 calc(27.32%); */
    @apply flex-[0_0_100%] xl:flex-[0_0_27.32%];
    transition: transform 300ms ease;
}

.currency li {
    @apply w-10 bg-white border-t border-t-black/10 py-1 pl-1;
}